@media (min-width: 576px) {
    .form-inline .form-control {
        width: 350px;
    }
}

@media (max-width: 767px) {
    #devoured-parent {
        margin-top: 20px;
    }
}

@media (max-width: 575px) {
    /* .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    } */

    .burger-name {
        max-width: 66.66%;
    }

    .burger-btn {
        max-width: 33.33%;
    }
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

li {
    margin-bottom: 10px;
}

.burger-name, .burger-btn {
    padding-right: 0;
}

/* .burger-btn {
    text-align: right;
} */

.devoured {
    text-decoration: line-through;
}

.queue-item {
    padding: 5px 5px 5px 0;
    background: lightgrey;
    border-radius: 3px;
}